* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f1cdb3;
  --primary-color-light: #fddcc4;
  --white: #ffffff;
  --black: #292929;
  --grey: #cdcdcd;
  --dark-grey-heading: #545454;
  --dark-grey-info: #4c4c4c;
  --light-background: #f6f6f6;
  --light-card: #fafafa;
}

article {
  max-width: 1280px;
  margin: 0 auto;
}

/* header */

.header {
  background: url(./images/noise_transparent@2x.png),
    radial-gradient(100% 1600% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 40px 40px 90px;
}

.logo__title {
  margin-bottom: 18px;

  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--primary-color);
  letter-spacing: 0.11rem;
  line-height: 1.1rem;
}

.logo__subtitle {
  text-align: center;

  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  letter-spacing: 0.1em;
  line-height: 15px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;

  padding-bottom: 1rem;

  list-style: none;
}

.nav__item {
  margin-right: 35px;

  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav__item:last-of-type {
  margin-right: 0px;
}

.nav__link {
  position: relative;

  color: var(--grey);
  text-decoration: none;

  transition: all 0.5s ease-in-out;
}

.nav__link:hover {
  color: var(--white);
}

.nav__link::after {
  position: absolute;
  width: 100%;
  height: 4px;

  display: block;
  margin-top: 3px;

  background-color: var(--primary-color);

  content: "";
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link_disabled {
  cursor: default;
}

.nav__link_disabled {
  color: var(--white);
}

.nav__link_disabled::after {
  opacity: 1;
}

/* make-a-friend section */

.main__make-a-friend {
  background: url(./images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.make-a-friend {
  display: flex;
  flex-direction: row;

  padding: 0 40px;
}

.make-a-friend__text {
  display: flex;
  flex-direction: column;
  gap: 42px;

  margin-top: 163px;
  padding-right: 42px;
}

.make-a-friend__heading {
  padding-right: 150px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  color: var(--white);
}

.make-a-friend__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--grey);
}

.make-a-friend__button {
  width: 207px;

  padding: 15px 45px;

  color: var(--black);
  letter-spacing: 0.05em;
  font-size: 17px;
  line-height: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;

  background-color: var(--primary-color);
  border-radius: 100px;
  border: none;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.make-a-friend__button:hover {
  background-color: var(--primary-color-light);
}

.make-a-friend__image {
  width: 698px;
  height: 728px;
}

/* about-the-shelter section */

.about-the-shelter {
  display: flex;
  flex-direction: row;
  gap: 120px;

  padding: 80px 40px 100px;
}

.about-the-shelter__image {
  margin-left: 175px;
}

.about-the-shelter__text {
  display: flex;
  flex-direction: column;
  gap: 25px;

  margin: 14px 175px 0 0;
}

.about-the-shelter__heading {
  margin-right: 60px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: var(--dark-grey-heading);
}

.about-the-shelter__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--dark-grey-info);
}

/* our-pets section */

.main__our-pets {
  background-color: var(--light-background);
}

.our-pets {
  display: flex;
  flex-direction: column;
  gap: 60px;

  padding: 80px 40px 100px;
}

.our-pets__heading {
  margin: 0 440px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--dark-grey-heading);
}

.our-pets__heading_second-line {
  margin: 0 400px;
}

.our-pets__slider {
  display: flex;
  flex-direction: row;
}

.our-pets__slider-button {
  width: 52px;
  height: 52px;

  margin: 192px 0 191px;

  align-items: center;

  background-color: var(--light-background);
  border: 2px solid var(--primary-color);
  border-radius: 100%;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.our-pets__slider-button:hover {
  background-color: var(--primary-color);
}

.our-pets__slider-arrow {
  width: 14px;
  height: 8px;
}

.our-pets__slider-cards {
  display: flex;
  flex-direction: row;
  gap: 90px;

  margin: 0 53px;
}

.our-pets__slider-card {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: var(--light-card);
}

.our-pets__slider-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-grey-heading);
}

.our-pets__slider-button_learn-more {
  padding: 13px 0;
  margin: 0 41.5px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: var(--black);

  border: 2px solid var(--primary-color);
  border-radius: 100px;
  background-color: var(--light-card);

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.our-pets__slider-button_learn-more:hover {
  background-color: var(--primary-color);
}

.our-pets__button {
  margin: 0 469px;
  padding: 14px 43px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: var(--black);

  background: var(--primary-color);
  border-width: 0;
  border-radius: 100px;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.our-pets__button:hover {
  background-color: var(--primary-color-light);
}
